{
    "extends": ["airbnb-base", "plugin:prettier/recommended"],
    "root": true,
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        "consistent-return": ["off"],
        "camelcase": ["off"],
        "no-restricted-globals": ["off"],
        "import/order": [
            "error",
            {
                "alphabetize": { "order": "asc" },
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "parent",
                    "sibling",
                    "index"
                ],
                "newlines-between": "always"
            }
        ]
    },
    "settings": {
        "import/ignore": ["target"]
    }
}
