{
    "extends": ["airbnb", "airbnb/hooks"],
    "root": true,
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        "arrow-parens": ["error", "as-needed"],
        "indent": ["error", 4],
        "quotes": ["error", "double"],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-indent": [
            "error",
            4,
            { "checkAttributes": true, "indentLogicalExpressions": true }
        ],
        "react/prop-types": ["off"],
        "wrap-iife": ["off"]
    }
}
