body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:
    emoji,
    "Apple Color Emoji",
    "Noto Color Emoji",
    "Segoe UI Emoji",
    -apple-system,
    BlinkMacSystemFont,
    "Open Sans",
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    arial,
    "Courier New",
    "DejaVu Sans",
    "Noto Sans",
    sans-serif;
  text-rendering: optimizeLegibility;
}

*, *:after, *:before {
  box-sizing: border-box;
}

#chars {
  max-width: 376px;
  width: calc(100% - 32px);
  margin: 32px 0 0;
  padding: 6px;
  font-size: 32px;
  border: 1px solid #a7a7a7;
  outline: none;
}

.types {
  max-width: 376px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
}

.types label {
  flex: 1 0 0;
  display: block;
  padding: 14px 0;
  margin-bottom: 16px;
  text-align: center;
  color: #a7a7a7;
  transition: color 0.2s, background-color 0.2s;
}

.types label:hover, .types input:focus + label {
  color: #414141;
  background: #f9f9f9;
}

.types input:checked + label {
  color: black;
}

.types input {
  width: 0;
  height: 0;
  opacity: 0;
}

main {
  width: 100%;
}

.char--details {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.6;
}

.char--details::after {
  display: block;
  content: '';
  width: 88px;
  margin: 16px auto 13px;
  border-bottom: 1px solid #aaa;
}

.char--details:last-of-type {
  margin-bottom: 32px;
}

.char--details:last-of-type::after {
  display: none;
}

.char--details > * {
  padding-left: 8px;
  flex: none;
  width: 50%;
}

.char--details .label {
  padding: 0 8px 0 0;
  text-align: right;
  color: #414141;
}

.char--details .value {
  padding-left: 8px;
}

@media (max-width: 400px) {
  /* collapse */
}

.load-more {
  display: block;
  margin: 32px auto;
  background: transparent;
}
