body {
    padding: 0;
    margin: 0;
    /* prettier-ignore */
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Open Sans",
        arial,
        "Courier New",
        "DejaVu Sans",
        "Noto Sans",
        "Helvetica Neue",
        sans-serif,

        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Emoji One",
        "Noto Color Emoji";
    font-size: 18px;
    line-height: 24px;
    text-rendering: optimizeLegibility;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

input {
    font-size: 32px;
}

.input-bar {
    font-size: 32px;
    height: 50px;
}

.char {
    white-space: nowrap;
}

.codepoint {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.literal {
    display: inline-block;
    width: 80px;
    text-align: center;
}

.name {
    display: inline-block;
}

.highlight {
    color: red;
}

/* #chars {
    display: block;
    max-width: 376px;
    width: 95%;
    width: calc(100% - 32px);
    margin: 32px auto 0;
    padding: 6px;
    font-size: 32px;
    border: 1px solid #a7a7a7;
    outline: none;
}

@media (max-width: 430px) {
    #chars {
        margin: 16px auto 0;
    }
}

.types {
    max-width: 376px;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
}

.types label {
    display: inline-block;
    width: 33.333333%;
    padding: 14px 0;
    text-align: center;
    color: #a7a7a7;
    transition: color 0.2s, background-color 0.2s;
}

.types label:hover,
.types input:focus + label {
    color: #414141;
    background: #f9f9f9;
}

.types input:checked + label {
    color: black;
}

.types input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

main {
    width: 100%;
    padding: 16px;
}

.char--details table {
    line-height: 1.6;
    width: 100%;
}

.char--details::before {
    display: block;
    content: "";
    width: 88px;
    margin: 16px auto 13px;
    border-bottom: 1px solid #aaa;
}

.char--details:first-of-type::before {
    display: none;
}

.char--details:last-of-type {
    margin-bottom: 32px;
}

.label {
    width: 50%;
    padding-right: 8px;
    text-align: right;
    color: #414141;
}

.value {
    padding-left: 8px;
}

@media (max-width: 400px) {
    .label {
        width: 1px;
    }
    .char--details::before {
        border-color: #ccc;
        width: 95%;
        width: calc(100% - 32px);
    }
}

.load-more {
    display: block;
    margin: 32px auto;
    background: transparent;
} */
